<%- include('partials/header') %>
    <header>
        <nav>
            <a href="#" class="logo-link">
                <img src="https://image.similarpng.com/very-thumbnail/2021/06/Medical-health-care-logo-design-template-on-transparent-background-PNG.png" alt="Healthcare Logo" class="logo">
            </a>
            
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="chatwithus.html">Chat with Us</a></li>
                <li><a href="havesymptoms.html">Have Symptoms??</a></li>
                <li><a href="#">Our services</a></li>
                <li><a href="#">About us</a></li>
                <li class="login-logout" id="logoutBtn" ><a href="/logout" role="button">Logout</a></li>
            </ul>
        </nav>
    </header>
    <section class="chat-section">
        <div class="chat-container" id="chatContainer">
            <!-- AI Assistant's Welcome Message -->
            <div class="message received">
                <p>Welcome! I'm your Healthcare Information Assistant. How can I assist you today?</p>
            </div>
        </div>
    
        <!-- User Input and Send Button -->
        <div class="user-input">
            <input type="text" id="userMessage" placeholder="Type your message...">
            <button onclick="sendMessage()">Send</button>
        </div>
    </section>
    <script src="app.js"></script>
</body>
</html>









